In [10]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import config
from omdbapi.movie_search import GetMovie
import warnings
warnings.filterwarnings('ignore')

In [2]:
movies_path = f'{config.processed_data_path}/movies.csv'

In [9]:
API_KEY = 'c25ecc9c'

In [3]:
movies_data = pd.read_csv(movies_path)
movies_data.head()

,movie_id,title,release_date,imdb_url,genre_unknown,Action,Adventure,Animation,Children,Comedy,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,year
0,0,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,1995.0
1,1,GoldenEye (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1995.0
2,2,Four Rooms (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1995.0
3,3,Get Shorty (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1995.0
4,4,Copycat (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1995.0

In [18]:
movie_titles = [' '.join(title.split(' ')[:-1]) for title in movies_data['title']]

In [12]:
movies_search_engine = GetMovie(api_key=API_KEY)

In [20]:
attributes = []
for movie in movie_titles: 
    m = movies_search_engine.get_movie(title=movie)
    attributes.append(m)

In [39]:
plots = []
for movie_attr in attributes:
    if type(movie_attr) is not dict:
        plots.append(movie_attr)
    else:
        plots.append(movie_attr['plot'])

In [40]:
len(plots)

1682

In [48]:
movie_plots = pd.DataFrame(plots, columns={'plot'})

In [49]:
movie_plots['movie_id'] = np.arange(len(plots))

In [51]:
movie_plots.to_csv(f'{config.processed_data_path}/movie_plots.csv', index=False)

In [52]:
movie_plots[movie_plots['plot'] == 'Movie not found!']

                  plot  movie_id
5     Movie not found!         5
10    Movie not found!        10
11    Movie not found!        11
13    Movie not found!        13
15    Movie not found!        15
...                ...       ...
1000  Movie not found!      1000
1001  Movie not found!      1001
1004  Movie not found!      1004
1005  Movie not found!      1005
1657  Movie not found!      1657

[217 rows x 2 columns]

In [108]:
movie_plots_wiki = pd.read_csv('../data/wiki_movie_plots_deduped.csv')
movie_plots_wiki.head()

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr..."
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov..."
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed..."
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...

In [109]:
movie_plots_wiki[movie_plots_wiki['Title'].isin(movie_titles)]

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
5,1903,Alice in Wonderland,American,Cecil Hepworth,May Clark,unknown,https://en.wikipedia.org/wiki/Alice_in_Wonderl...,"Alice follows a large white rabbit down a ""Rab..."
32,1910,Pocahontas,American,Unknown,"Anna Rosemond, George Barnes, Frank H. Crane",short fantasy,https://en.wikipedia.org/wiki/Pocahontas_(1910...,"Though the film is presumed lost, a synopsis s..."
70,1914,Cinderella,American,James Kirkwood,"Mary Pickford, Owen Moore, Isobel Vernon",fantasy drama,https://en.wikipedia.org/wiki/Cinderella_(1914...,Cinderella is a kind young woman who lives wit...
107,1915,Anna Karenina,American,J. Gordon Edwards,Betty Nansen and Edward JosÃ©,historical drama,https://en.wikipedia.org/wiki/Anna_Karenina_(1...,Anna Karenina is a married aristocrat and soci...
130,1916,"20,000 Leagues Under the Sea",American,Stuart Paton,"Lois Alexander, Curtis Benton, Wallace Clarke,...",action adventure,"https://en.wikipedia.org/wiki/20,000_Leagues_U...","A strange giant ""sea creature"" has been rampag..."
...,...,...,...,...,...,...,...,...
34219,2013,Stalingrad,Russian,Director: Fyodor Bondarchuk,Director: Fyodor Bondarchuk\r\nCast: Pyotr Fyo...,unknown,https://en.wikipedia.org/wiki/Stalingrad_(2013...,The film opens in Japan in the wake of the 201...
34242,2015,Ghost,Russian,Aleksandr Voytinskiy,Fedor Bondarchuk,comedy film,https://en.wikipedia.org/wiki/Ghost_(2015_film),Only yesterday Yuri Gordeev was an ambitious a...
34353,1985,Mother,South_Korean,Park Chul-soo,NaN,unknown,https://en.wikipedia.org/wiki/Mother_(1985_film),After the rape and subsequent suicide of a col...
34437,2009,Mother,South_Korean,Unknown,Bong Joon-ho,unknown,https://en.wikipedia.org/wiki/Mother_(2009_film),An unnamed widow lives alone with her only son...
34529,2011,Spellbound,South_Korean,Unknown,NaN,horror romantic comedy,https://en.wikipedia.org/wiki/Spellbound_(2011...,"Jo-goo, a street magician (Lee Min-ki), notice..."

In [110]:
movies_data['Title'] = movie_titles

In [111]:
movies_data.head()

,movie_id,title,release_date,imdb_url,genre_unknown,Action,Adventure,Animation,Children,Comedy,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,year,Title,title-year
0,0,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,1995.0,Toy Story,Toy Story 1995.0
1,1,GoldenEye (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,1,0,0,1995.0,GoldenEye,GoldenEye 1995.0
2,2,Four Rooms (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1995.0,Four Rooms,Four Rooms 1995.0
3,3,Get Shorty (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1995.0,Get Shorty,Get Shorty 1995.0
4,4,Copycat (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,1,0,0,1995.0,Copycat,Copycat 1995.0

In [112]:
merged_movies_plots = movies_data.merge(movie_plots_wiki, on='Title', how='inner')
merged_movies_plots = merged_movies_plots[['movie_id', 'Plot']]
merged_movies_plots.head()

   movie_id                                               Plot
0         0  In a world where toys are living things who pr...
1         1  In 1986, at Arkhangelsk, MI6 agents James Bond...
2         2  The film is set on New Year's Eve, and starts ...
3         3  Chili Palmer, a loan shark based in Miami, cla...
4         4  After giving a guest lecture on criminal psych...

In [113]:
merged_movies_plots.drop_duplicates(subset ="movie_id",
                                    keep='first',inplace = True)

In [114]:
len(merged_movies_plots)

928

In [115]:
merged_movies_plots.to_csv(f'{config.processed_data_path}/movie_plots_wiki.csv', index=False)